.head {
  text-decoration-line: underline;
  text-decoration-style: double;
  color: #ff2e63;
  text-align: center;
}
.mainDiv {
  padding: 5%;
}
.formtag {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 450px;
  height: 440px;
  padding: 20px;
  font-weight: bold;
  background-color: #eaeaea;
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.inputSubmit {
  /* background-color: #08d9d6; */
  background-image: linear-gradient(to right, #252a34, #08d9d6);
  padding: 5px;
  color: #252a34;
  border: 2px solid #252a34;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.inputSubmit:hover {
  background-image: linear-gradient(to left, #252a34, #ff2e63);
  color: #eaeaea;
}

.atag {
  margin: auto;
  margin-top: 20px;
  width: 23%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.github:hover,
.linkedin:hover,
.youtube:hover {
  /* border: 3px solid #05386b; */
  /* background-color: #d2691e; */
  color: #ff2e63;
}
.github,
.linkedin {
  color: #252a34;
  /* border: 3px solid #24292f; */
  /* padding: 10px; */
  /* border-radius: 50%; */
  /* background-color: rgb(7, 7, 105); */
}

.youtube {
  /* border: 3px solid white; */
  /* padding: 10px; */
  /* border-radius: 50%; */
  color: red;
}
.phnDiv {
  font-size: 20px;
}
.imgTag {
  height: 35%;
  width: 35%;
}
input,
textarea {
  margin-bottom: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

@media (min-width: 515px) and (max-width: 900px) {
  .atag {
    width: 45%;
    font-size: 25px;
  }
  .head {
    font-size: 25px;
  }
  .formtag {
    width: 200px;
    height: 200px;
  }
  input,
  textarea {
    padding: 8px;
    font-size: 10px;
  }
  hr {
    top: -5px;
    height: 4px;
  }
  .phnDiv {
    font-size: 15px;
  }
}
@media (max-width: 514px) {
  .atag {
    width: 65%;

    font-size: 20px;
  }
  .head {
    font-size: 20px;
  }
  .formtag {
    width: 130px;
    height: 160px;
    padding: 20px;
  }
  input,
  textarea {
    padding: 5px;
    font-size: 6px;
  }
  .inputSubmit {
    padding: 2px;
    border-radius: 10px;
  }
  hr {
    top: -5px;
    height: 3px;
  }
  .phnDiv {
    font-size: 10px;
  }
  .name {
    font-size: 10px;
  }
  .imgTag {
    height: 200px;
    width: 150px;
  }
  .github,
  .linkedin,
  .youtube,
  p {
    font-size: 10px;
  }
}
