.mainDiv {
  margin: auto;
  text-align: center;
  display: flex;
  padding: 2%;
}
.box {
  background-image: url("https://img.freepik.com/free-vector/learning-concept-illustration_114360-6186.jpg?w=740&t=st=1670256922~exp=1670257522~hmac=9e582a18331bf55d72b17bf1624a15743feb7b5db22a4c2c799886b485db3465");
  background-attachment: fixed;
  background-size: 30% 70%;
  width: 30%;
  border-radius: 20px;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  text-align: justify;
  padding: 15px;
  line-height: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box:hover {
  cursor: pointer;
}
.ul {
  line-height: 20px;
  color: #05386b;
  font-size: 15px;
  font-weight: 500;
}
.h5 {
  color: #05386b;
  font-style: italic;
}

.head {
  color: #D2691E;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.h2text {
  color: #05386b;
  font-weight: bold;
  /* text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000; */
}
.ptext {
  margin-left: 30px;
  font-weight: 600;
  color: #05386b;
}
@media (min-width: 515px) and (max-width: 900px) {
  .mainDiv {
    display: block;
  }
  .head {
    font-size: 25px;
  }
  .box {
    width: 70%;
    line-height: 18px;
    background-size: 80% 70%;
  }
}
@media (max-width: 514px) {
  .mainDiv {
    display: block;
  }
  .head {
    font-size: 20px;
  }
  .box {
    width: 70%;
    line-height: 18px;
    background-size: 100% 40%;
  }
  .h2text {
    font-size: 15px;
  }
  .h4text {
    font-size: 12px;
  }
  .h5 {
    font-size: 12px;
  }
  .ul {
    font-size: 10px;
  }
  .ptext {
    margin-left: 20px;
    font-size: 12px;
  }
}
