.mainDiv {
  margin: auto;
  text-align: center;
  display: flex;
  padding: 2%;
}
.box {
  background-image: url("https://img.freepik.com/free-vector/learning-concept-illustration_114360-6186.jpg?w=740&t=st=1670256922~exp=1670257522~hmac=9e582a18331bf55d72b17bf1624a15743feb7b5db22a4c2c799886b485db3465");
  background-attachment: fixed;
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
  background-size: 30% 70%;
  width: 30%;
  border-radius: 20px;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  text-align: justify;
  padding: 15px;
  line-height: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box:hover {
  cursor: pointer;
}
.ul {
  line-height: 20px;
  text-shadow: 2px 0 #d2691e, -2px 0 #d2691e, 0 2px #d2691e, 0 -2px #d2691e,
    1px 1px #d2691e, -1px -1px #d2691e, 1px -1px #d2691e, -1px 1px #d2691e;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.h5 {
  color: white;
  text-shadow: 2px 0 #d2691e, -2px 0 #d2691e, 0 2px #d2691e, 0 -2px #d2691e,
    1px 1px #d2691e, -1px -1px #d2691e, 1px -1px #d2691e, -1px 1px #d2691e;
  font-style: italic;
}

.head {
  color: #d2691e;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.h2text {
  color: white;
  font-weight: bold;
  text-shadow: 2px 0 #d2691e, -2px 0 #d2691e, 0 2px #d2691e, 0 -2px #d2691e,
    1px 1px #d2691e, -1px -1px #d2691e, 1px -1px #d2691e, -1px 1px #d2691e;
  /* background-color: linear-gradient(
    90deg,
    #ff0000,
    #ffff00,
    #ff00f3,
    #0033ff,
    #ff00c4,
    #ff0000
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite; */
}
/* @keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
} */
.ptext {
  margin-left: 30px;
  font-weight: 600;
  text-shadow: 2px 0 #d2691e, -2px 0 #d2691e, 0 2px #d2691e, 0 -2px #d2691e,
    1px 1px #d2691e, -1px -1px #d2691e, 1px -1px #d2691e, -1px 1px #d2691e;
  color: white;
}
.college {
  text-shadow: 2px 0 #d2691e, -2px 0 #d2691e, 0 2px #d2691e, 0 -2px #d2691e,
    1px 1px #d2691e, -1px -1px #d2691e, 1px -1px #d2691e, -1px 1px #d2691e;
  color: white;
  text-decoration: none;
}
@media (min-width: 515px) and (max-width: 900px) {
  .mainDiv {
    display: block;
  }
  .head {
    font-size: 25px;
  }
  .box {
    width: 70%;
    line-height: 18px;
    background-size: 80% 70%;
  }
}
@media (max-width: 514px) {
  .mainDiv {
    display: block;
  }
  .head {
    font-size: 20px;
  }
  .box {
    width: 70%;
    line-height: 18px;
    background-size: 100% 40%;
  }
  .h2text {
    font-size: 15px;
  }
  .h4text {
    font-size: 12px;
  }
  .h5 {
    font-size: 12px;
  }
  .ul {
    font-size: 10px;
  }
  .ptext {
    margin-left: 20px;
    font-size: 12px;
  }
}
