.mainDiv {
  margin: auto;
  text-align: center;
  display: flex;
  padding: 2%;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.box {
  background-image: linear-gradient(to bottom right, #252a34, #08d9d6);
  backdrop-filter: saturate(150%) blur(5px);
  width: 30%;
  border-radius: 20px;
  height: 200px;
  margin: auto;
  margin-bottom: 20px;
  text-align: justify;
  padding: 15px;
  line-height: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box:hover {
  cursor: pointer;
}
.ul {
  line-height: 20px;
  color: #eaeaea;
  font-size: 15px;
  font-weight: 500;
}
.h5 {
  color: #eaeaea;
  font-style: italic;
}

.head {
  color: #252a34;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.h2text {
  color: #eaeaea;
  font-weight: bold;
}
.ptext {
  margin-left: 30px;
  font-weight: 600;
  color: #eaeaea;
}
.college {
  color: #eaeaea;
  text-decoration: none;
}
@media (min-width: 650px) and (max-width: 1024px) {
  .mainDiv {
    display: block;
  }
  .head {
    font-size: 25px;
  }
  .box {
    background-image: linear-gradient(to right, #252a34, #08d9d6);
    width: 70%;
    height: auto;
    line-height: 18px;
    background-size: 80% 70%;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .mainDiv {
    display: block;
  }
  .head {
    font-size: 20px;
  }
  .box {
    width: 70%;
    background-image: linear-gradient(to left, #252a34, #08d9d6);
    height: auto;
    line-height: 18px;
    background-size: 100% 40%;
  }
  .h2text {
    font-size: 15px;
  }
  .h4text {
    font-size: 12px;
  }
  .h5 {
    font-size: 12px;
  }
  .ul {
    font-size: 10px;
  }
  .ptext {
    margin-left: 20px;
    font-size: 12px;
  }
}
