.parent {
  display: flex;
  flex-direction: column;
  /* background-color: #05386b; */
}

.first {
  width: 40%;
  margin: auto;
}

.second {
  width: 55%;
  gap: 20px;
  display: flex;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}

@media (min-width: 515px) and (max-width: 900px) {
  .first > a > img {
    width: 350px;
  }
  .second {
    width: 60%;
  }
  .second > a > img {
    width: 220px;
  }
}

@media (max-width: 514px) {
  .first {
    width: 50%;
  }
  .second {
    width: 70%;
  }

  .first > a > img {
    width: 200px;
  }
  .second > a > img {
    width: 130px;
  }
}
