.mainDiv {
  margin: auto;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  background-image: url("https://img.freepik.com/free-vector/purple-fluid-background-frame_53876-99020.jpg?w=996&t=st=1670255886~exp=1670256486~hmac=acf666f94504bc4de47c5cb4b8800bda3ca41a339b6cc5e95c8a11f4ccc7bd5b");
  background-size: cover;
  color: #05386b;
  width: 80%;
}
.mainDiv:hover {
  /* background-color: #5cdb95; */
  color: #05386b;
}
.h1Tag {
  text-decoration-line: underline;
  text-decoration-style: double;
  color: #5cdb95;
  text-align: center;
}

@media (min-width: 515px) and (max-width: 900px) {
  .h1Tag {
    font-size: 25px;
  }
}
@media (max-width: 514px) {
  .h1Tag {
    font-size: 20px;
  }
}
