.mainDiv {
  margin: auto;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  background-color: tomato;
  width: 80%;
}
.mainDiv:hover {
  background-color: white;
}
.h1Tag {
  text-decoration-line: underline;
  text-decoration-style: double;
  color: tomato;
  text-align: center;
}

@media (min-width: 515px) and (max-width: 900px) {
  .h1Tag {
    font-size: 25px;
  }
}
@media (min-width: 385px) {
  .h1Tag {
    font-size: 20px;
  }
}
