/* body {
} */
.main {
  /* background-image: url("https://img.freepik.com/free-vector/topographic-contour-lines-map-seamless-pattern_1284-52862.jpg"); */
  background-attachment: fixed;
  background-size: contain;
  display: flex;
  justify-content: space-around;
  /* width: 50%; */
  gap: 10px;
  padding: 20px;
}
.imageDiv {
  width: 70%;
  height: 70%;
  margin: auto;
  border-radius: 50%;
  /* position: relative; */
  border: 2px solid #05386b;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.name {
  margin: auto;
  text-align: center;
  color: #5cdb95;
}
.para {
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  width: 60%;
  color: #05386b;
  text-align: justify;
}
@media (min-width: 515px) and (max-width: 900px) {
  .main {
    display: block;
  }
  .imageDiv {
    width: 25%;
    position: relative;
    /* left: 35%; */
    height: 200px;
  }
  .name {
    font-size: 20px;
  }
  .para {
    width: 80%;
    font-size: 15px;
    /* color: #bcfd4c; */
  }
}
@media (max-width: 514px) {
  .main {
    display: block;
  }
  .imageDiv {
    width: 35%;
    position: relative;
    /* left: 35%; */
    height: 150px;
    border: 3px solid #5cdb95;
  }
  .name {
    font-size: 15px;
  }
  .para {
    width: 70%;
    font-size: 13px;
    color: #5cdb95;
  }
}
