.mainDiv {
  display: flex;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  position: sticky;
  z-index: 1;
  top: 0px;
  gap: 10%;
  box-shadow: 0px 8px 16px 0px rgba(148, 18, 18, 0.2);
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 2rem 0px 2rem; */
  border-bottom: 1px solid #05386b;
  background-color: whitesmoke;
}
.linkTag {
  width: 20%;
}
.image {
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
}
.ull {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.lii {
  list-style: none;
  color: #05386b;
  font-weight: bold;
}
.lii:active {
  cursor: pointer;
  color: white;
}
.lii:hover {
  cursor: pointer;
  /* color: white; */
  /* text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; */
}

@media (min-width: 515px) and (max-width: 900px) {
  .mainDiv {
    justify-content: space-between;
    gap: 0;
  }
  .lii {
    font-size: 15px;
  }
  /* .ull {
    gap: 15px;
    width: 70%;
  } */
  .image {
    height: 40px;
  }
}
@media (max-width: 514px) {
  .mainDiv {
    /* justify-content: space-evenly; */
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .lii {
    font-size: 8px;
    text-decoration-line: underline;
  }
  .ull {
    gap: 0px;
    width: 90%;
    justify-content: space-between;
  }
  .linkTag {
    width: 80%;
    padding-top: 10px;
  }
  .image {
    height: 50px;
    margin: auto;
    display: block;
  }
}
