.mainDiv {
  display: flex;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  position: sticky;
  z-index: 1;
  top: 0px;
  gap: 10%;
  box-shadow: 0px 8px 16px 0px rgba(148, 18, 18, 0.2);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #252a34;
  background-color: #eaeaea;
}
.linkTag {
  width: 20%;
}
.image {
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
}
.ull {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.lii,
.resume {
  list-style: none;
  color: #ff2e63;
  font-weight: bold;
}
.lii:active {
  cursor: pointer;
  color: #252a34;
}
.lii:hover {
  cursor: pointer;
  /* color: white; */
  /* text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; */
}

@media (min-width: 650px) and (max-width: 1024px) {
  .mainDiv {
    justify-content: space-between;
    gap: 0;
  }
  .lii,
  .resume {
    font-size: 15px;
  }
  /* .ull {
    gap: 15px;
    width: 70%;
  } */
  .image {
    height: 40px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .mainDiv {
    /* border: 1px solid red; */
    justify-content: space-around;
    gap: 0;
  }

  .lii {
    font-size: 8px;
    /* text-decoration-line: underline; */
  }
  .ull {
    gap: 10px;
    width: 100%;
    /* border: 1px solid black; */

    /* justify-content: space-around; */
  }
  .linkTag {
    width: 20%;
    /* border: 1px solid black; */
  }
  .image {
    height: 40px;
    margin: auto;
    display: block;
  }
  .resume {
    padding-right: 10px;
    font-size: 8px;

    list-style: none;
    color: #ff2e63;
    font-weight: bold;
  }
}
