.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  /* background-image: url(../public/Image/bi7.jpg); */
  background: url("https://img.freepik.com/premium-vector/abstract-gradient-colored-pattern-background-fluid-elements-design-birthday-party-card-shop-sale-advertising-summer-rest-poster-night-club-t-shirt-bag-print-etc_292734-4422.jpg?w=740")
      right -10% top 12%,
    url("https://img.freepik.com/premium-vector/abstract-gradient-colored-pattern-background-fluid-elements-design-birthday-party-card-shop-sale-advertising-summer-rest-poster-night-club-t-shirt-bag-print-etc_292734-4423.jpg")
      left 10% top 22%,
    url("https://img.freepik.com/premium-vector/abstract-gradient-colored-pattern-background-fluid-elements-design-birthday-party-card-shop-sale-advertising-summer-rest-poster-night-club-t-shirt-bag-print-etc_292734-4420.jpg")
      right 10% top 23%,
    url("https://img.freepik.com/premium-vector/abstract-gradient-colored-pattern-background-fluid-elements-design-birthday-party-card-shop-sale-advertising-summer-rest-poster-night-club-t-shirt-bag-print-etc_292734-4422.jpg?w=740")
      left 5% top 32%,
    url("https://img.freepik.com/premium-vector/manage-project-concept-check-list-document-display-laptop-monitor-hourglass-target-goal-white-isolated-background_197170-899.jpg?w=900")
      right 1% top 32%,
    url("https://img.freepik.com/premium-vector/farm-robots-harvesting-with-wireless-control_126283-2927.jpg?w=900")
      left 10% bottom 33%,
    url("https://img.freepik.com/premium-vector/genetic-dna-science-tiny-scientists-investigating-diagnosis-testing-dna-with-microscope_501813-790.jpg")
      right 10% bottom 33%,
    url("https://img.freepik.com/free-vector/manager-planning-event-man-marking-date-calendar-page-flat-illustration_74855-10924.jpg")
      left 1% bottom 23%,
    url("https://img.freepik.com/premium-vector/devops-process-laptop-tiny-programmers-practice-development-software-operations_501813-1712.jpg")
      right 5% bottom 14%,
    url("https://img.freepik.com/free-vector/female-patient-doctor-office_74855-6460.jpg?t=st=1670230556~exp=1670231156~hmac=1b14bdecb3a5c4bb064b6f9963beb3fdbebe1c2d693d76da90f757d98eb2cb4c")
      left bottom,
    url("https://img.freepik.com/premium-vector/abstract-gradient-colored-pattern-background-fluid-elements-design-birthday-party-card-shop-sale-advertising-summer-rest-poster-night-club-t-shirt-bag-print-etc_292734-4422.jpg?w=740")
      right bottom;
  background-size: 650px, 300px, 300px, 300px, 450px, 350px, 350px, 500px, 400px,
    400px, 280px;
  background-repeat: no-repeat;
  font-family: "Lora", serif;
}
.resume {
  position: fixed;
  right: 20px;
  z-index: 1;
}
.resumeBtn {
  padding: 10px;
  border-radius: 10px;
  background-color: #d2691e;
  font-family: "Lora", serif;

  font-weight: bold;
  cursor: pointer;
  box-shadow: #05386b 0px 5px 15px;
  border: 1px solid white;
}
.resumeBtn:hover {
  background-color: #05386b;
  color: #d2691e;
  box-shadow: rgba(244, 244, 229, 0.926) 0px 5px 15px;
  border: 1px solid black;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2691e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d2691e;
}

@media (min-width: 515px) and (max-width: 900px) {
  .container {
    background: url("https://img.freepik.com/premium-vector/abstract-gradient-colored-pattern-background-fluid-elements-design-birthday-party-card-shop-sale-advertising-summer-rest-poster-night-club-t-shirt-bag-print-etc_292734-4422.jpg?w=740")
        right -10% top 15%,
      url("https://img.freepik.com/premium-vector/manage-project-concept-check-list-document-display-laptop-monitor-hourglass-target-goal-white-isolated-background_197170-899.jpg?w=900")
        right 1% top 43%,
      url("https://img.freepik.com/free-vector/manager-planning-event-man-marking-date-calendar-page-flat-illustration_74855-10924.jpg")
        left 50% bottom 25%,
      url("https://img.freepik.com/premium-vector/devops-process-laptop-tiny-programmers-practice-development-software-operations_501813-1712.jpg")
        right 5% bottom 10%,
      url("https://img.freepik.com/free-vector/female-patient-doctor-office_74855-6460.jpg?t=st=1670230556~exp=1670231156~hmac=1b14bdecb3a5c4bb064b6f9963beb3fdbebe1c2d693d76da90f757d98eb2cb4c")
        left bottom 9%;
    background-size: 450px, 300px, 500px, 300px, 300px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 514px) {
  .container {
    background: url("https://img.freepik.com/premium-vector/abstract-gradient-colored-pattern-background-fluid-elements-design-birthday-party-card-shop-sale-advertising-summer-rest-poster-night-club-t-shirt-bag-print-etc_292734-4422.jpg?w=740")
        left 50% top 15%,
      url("https://img.freepik.com/premium-vector/manage-project-concept-check-list-document-display-laptop-monitor-hourglass-target-goal-white-isolated-background_197170-899.jpg?w=900")
        right 50% top 52%,
      url("https://img.freepik.com/free-vector/manager-planning-event-man-marking-date-calendar-page-flat-illustration_74855-10924.jpg")
        left 50% bottom 21.5%,
      url("https://img.freepik.com/premium-vector/devops-process-laptop-tiny-programmers-practice-development-software-operations_501813-1712.jpg")
        right 1% bottom 9.5%;
    background-size: 550px, 220px, 300px, 180px;
    background-repeat: no-repeat;
  }
}
